.wrapper {
    width: 100%;
    height: 70px;
    background-color: var(--red-color);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

.wrapper__content {
    width: 85%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.wrapper__content__logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper__content__logo__img {
    height: 80%;
}

.wrapper__content__logo__name {
    display: flex;
    flex-direction: column;
}

.wrapper__content__logo__name__span {
    font-size: 25px;
    font-weight: 600;
    font-family: var(--global-font-family);
    color: white;
}

.wrapper__content__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper__content__ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.wrapper__content__info__svg {
    width: 100%;
    height: 100%;
}

.wrapper__content__info__burger {
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.navWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.979);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navWindow__content {
    border: rgba(255, 255, 255, 0.164) solid 1px;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navWindow__content__itemClose svg {
    color: white;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.navWindow__content__list{
    padding: 0;
    list-style: none;
}
.navWindow__content__item {
    color: white;
    margin: 30px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;


}

@media (max-width: 1300px) {
    .wrapper__content__ul{
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;
        padding: 0;
        color: white;
        font-size: 22px;
        font-weight: 600;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        height: 60px;
    }

    .wrapper__content__logo {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .wrapper__content__logo__img {
        height: 80%;
    }

    .wrapper__content__logo__name {
        display: flex;
        flex-direction: column;
    }

    .wrapper__content__logo__name__span {
        font-size: 20px;
        font-weight: 600;
        font-family: var(--global-font-family);
        color: white;
    }

    .wrapper__content__info {
        width: 50px;
        height: 50px;
        color: white;
        cursor: pointer;
    }

    .wrapper__content__info svg {
        width: 100%;
        height: 100%;
    }
}