.footerWrapper{
    width: 100%;
    height: 285px; 
    background-color: var(--backgroung-darkest-gray);
    color: white; 



}

.content{
    display: flex;
    height: 100%;
    justify-content:center;
    gap: 10px;
}

.addres{
    position: relative;
    align-items: start;
    width: 40%;
    height: 100%;
    gap: 5px;

    .addres__item{
        display: flex;
        align-items: center;
        gap: 10px;

    }
    .addres__item svg{
        color: var(--red-color);
    }
}

.addresName{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: auto;    
    width: 100%;
    font-size: 52px;
    color: white;
}

 .mapSection{
    width: 40%;
    height: auto;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
    overflow: hidden;
} 

 .svgmessenger{
    position: relative;
    display:flex;
    align-items: start;
    justify-content: start;
    height: auto;    
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    gap: 10px;
}


@media (max-width: 1300px){
     
    .footerWrapper{
        height: 400px;
    }

    .content{
        height: 100%;
        gap: 5px;
    }

    .addresName{
        position: relative;
        font-size: 60px;   
        width: 100%;
        height: 23%;
        /* top: -5%; */
    }

    .addres{
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 45%;
        height: auto;
        margin: 10px 0px 20px 0px;
        font-size: 20px;
        gap: 7px;
    }

    .mapSection{
        display: flex;
        align-items: center;     
        width: 50%;
        height: auto;
        margin: 20px 0px 20px 0px;
        border-radius: 15px;
        overflow: hidden;
    }

    .svgmessenger{
        position: relative;
        display:flex;
        align-items: start;
        justify-content: start;
        height: auto;    
        width: 100%;
        font-size: 5px;
        margin-top: 5px;
        gap: 10px;

    }

}

@media (max-width: 1000px){

    .footerWrapper{
        height: 500px;
    }

    .content{
        height: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addresName{
        position: relative;
        font-size: 55px;
        width: 100%;
        height: 35%;
        border-bottom: grey solid 1px;
    }

    .addres{
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 85%;
        height: auto;
        margin: 0px 0px 10px 0px;
        font-size: 20px;
        gap: 5px;
    }

    .mapSection{
        display: flex;
        align-items: center;
        width: 85%;
        height: 50%;
        margin: 1px 0px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
    }

}


@media (max-width: 700px){

    .footerWrapper{
        height: 500px;
    }

    .content{
        height: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addresName{
        position: relative;
        font-size: 52px;
        width: 100%;
        height: 35%;
        border-bottom: grey solid 1px;
    }

    .addres{
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 85%;
        height: auto;
        margin: 0px 0px 10px 0px;
        font-size: 17px;
        gap:10px;
    }

    .mapSection{
        display: flex;
        align-items: center;
        width: 85%;
        height: 50%;
        margin: 1px 0px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
    }

}



@media (max-width: 500px){
    .footerWrapper{
        height: 450px;
    }

    .content{
        height: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    .addresName{
        position: relative;
        font-size: 50px;
        width: 100%;
        height: 35%;
        border-bottom: grey solid 1px;
    }

    .addres{
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 85%;
        height: auto;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
        gap:10px;
    }

    .mapSection{
        display: flex;
        align-items: center;
        width: 85%;
        height: 45%;
        margin: 5px 0px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
    }

}



@media (max-width: 405px){  
    
    .footerWrapper {
        height: 470px;
    }
    
    
    .content{
        height: 100%;
        gap: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addresName{
        position: relative;
        font-size: 40px;
        width: 100%;
        height: 35%;
        border-bottom: grey solid 1px;
    }

    .addres{
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 85%;
        height: auto;
        margin: 0px 0px 20px 0px;
        font-size: 13px;
        gap:10px;
    }

    .mapSection{
        display: flex;
        align-items: center;
        width: 85%;
        height: 40%;
        margin: 10x 0px 10px 0px;
        border-radius: 15px;
        overflow: hidden;
    }
}