.footerWrapper{
    width: 100%;
    height: 170px; 
    background-color: var(--backgroung-darkest-gray);
    color: white; 

    border: rgb(252, 153, 153) solid 2px;


}

.content{
    display: flex;
    height: 100%;
    justify-content:center;
    gap: 10px;
}

.addres{
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    height: 100%;
    border: blue solid 1px;
}

.addresName{
    display:flex;
    align-items: center;
    justify-content: center;
    border:  white solid 1px;
    height: auto;    
    width: 100%;
    font-size: 52px;
    color: white;
}

 .mapSection{
    width: 40%;
    height: 100%;
    border: gold solid 1px;
} 
